<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="info.justaway"
          android:versionCode="39"
          android:versionName="1.0.38">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="info.justaway.JustawayApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <receiver
            android:name="info.justaway.appwidget.PostWidget"
            android:exported="false"
            android:label="@string/widget_title_post_mode">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/post_widget"/>
        </receiver>
        <service android:name=".NotificationService" android:exported="false" />
        <service
            android:name=".PostListenerService"
            android:permission="">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>
        <activity
            android:name="info.justaway.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".SignInActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="twitter"
                    android:scheme="justaway"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".PostActivity"
            android:label="@string/title_post"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:taskAffinity=".post">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="twitter.com"
                    android:pathPrefix="/intent/tweet"
                    android:scheme="https"/>
                <data
                    android:host="twitter.com"
                    android:pathPrefix="/intent/tweet"
                    android:scheme="http"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="image/jpeg"/>
                <data android:mimeType="image/jpg"/>
                <data android:mimeType="image/png"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_profile"/>
        <activity
            android:name=".StatusActivity"
            android:theme="@style/Theme.MyTrans">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="twitter.com"
                    android:pathPattern="/.*/status/.*"
                    android:scheme="http"/>
                <data
                    android:host="twitter.com"
                    android:pathPattern="/.*/status/.*"
                    android:scheme="https"/>
                <data
                    android:host="twitter.com"
                    android:pathPattern="/.*/statuses/.*"
                    android:scheme="http"/>
                <data
                    android:host="twitter.com"
                    android:pathPattern="/.*/statuses/.*"
                    android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".TabSettingsActivity"
            android:label="@string/title_tab_settings"/>
        <activity
            android:name=".ChooseUserListsActivity"
            android:label="@string/title_choose_user_lists"/>
        <activity
            android:name=".ScaleImageActivity"
            android:theme="@style/Theme.MyTrans"/>
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_search"/>
        <activity
            android:name=".EditProfileActivity"
            android:label="@string/title_edit_profile"/>
        <activity android:name=".UserListActivity" />
        <activity
            android:name=".AccountSettingActivity"
            android:label="@string/title_account_setting" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"/>
        <activity
            android:name=".NotificationSettingsActivity"
            android:label="@string/title_notification"/>
        <activity
            android:name=".MuteActivity"
            android:label="@string/title_mute"/>
        <activity
            android:name=".PerformanceActivity"
            android:label="@string/title_performance"/>
        <activity
            android:name=".RegisterUserListActivity"
            android:label="@string/title_register_list"/>
        <activity
            android:name=".CreateUserListActivity"
            android:label="@string/title_create_user_list"/>
        <activity
            android:name=".FavoriteActivity"
            android:label="@string/title_main"
            android:taskAffinity=".favorite"
            android:excludeFromRecents="true"/>
        <activity
            android:name=".UserSearchActivity"
            android:label="@string/title_user_search"/>
    </application>

</manifest>
